#application.properties 역할
spring:
  profiles:
    active: local #활성화

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/theplay
    username: root
    password: 1234

  jpa:
    database-platform: org.hibernate.dialect.MariaDB103Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true

---

#local
spring:
  profiles: local

server:
  port: 8080

---

#dev
spring:
  profiles: test

server:
  port: 9011
